.cards {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 350px;
  line-height: 2em;
  text-align: center;
  border-radius: 20px;
  margin-top: 50px;
  transition: 0.5s;
  padding: 5px;
}

.card img{
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 5px 5px 10px rgb(12, 41, 12);
}
